{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <a>Hey, I'm</a>
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        <a>{{ .Content | markdownify }}</a>
    </div>
    <div class="entry-content">
        <a href="/about-me" title="Profile">Read more about me here..</a>
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" site.Params.socialIcons }}
    </footer>
</article>
{{- end -}}
